<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ain-ar</key>
    <string>ain-ar.glif</string>
    <key>ain-ar.fina</key>
    <string>ain-ar.fina.glif</string>
    <key>ain-ar.init</key>
    <string>ain-ar.init.glif</string>
    <key>ain-ar.medi</key>
    <string>ain-ar.medi.glif</string>
    <key>alef-ar</key>
    <string>alef-ar.glif</string>
    <key>alef-ar.fina</key>
    <string>alef-ar.fina.glif</string>
    <key>alef-hb</key>
    <string>alef-hb.glif</string>
    <key>alefHamzaabove-ar</key>
    <string>alefH_amzaabove-ar.glif</string>
    <key>alefHamzaabove-ar.fina</key>
    <string>alefH_amzaabove-ar.fina.glif</string>
    <key>alefHamzabelow-ar</key>
    <string>alefH_amzabelow-ar.glif</string>
    <key>alefHamzabelow-ar.fina</key>
    <string>alefH_amzabelow-ar.fina.glif</string>
    <key>alefMadda-ar</key>
    <string>alefM_adda-ar.glif</string>
    <key>alefMadda-ar.fina</key>
    <string>alefM_adda-ar.fina.glif</string>
    <key>alefMaksura-ar</key>
    <string>alefM_aksura-ar.glif</string>
    <key>alefMaksura-ar.fina</key>
    <string>alefM_aksura-ar.fina.glif</string>
    <key>alefWasla-ar</key>
    <string>alefW_asla-ar.glif</string>
    <key>alefWasla-ar.fina</key>
    <string>alefW_asla-ar.fina.glif</string>
    <key>alefabove-ar</key>
    <string>alefabove-ar.glif</string>
    <key>alefbelow-ar</key>
    <string>alefbelow-ar.glif</string>
    <key>allah-ar</key>
    <string>allah-ar.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisk-ar</key>
    <string>asterisk-ar.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>ayin-hb</key>
    <string>ayin-hb.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>beh-ar</key>
    <string>beh-ar.glif</string>
    <key>beh-ar.fina</key>
    <string>beh-ar.fina.glif</string>
    <key>beh-ar.init</key>
    <string>beh-ar.init.glif</string>
    <key>beh-ar.medi</key>
    <string>beh-ar.medi.glif</string>
    <key>behDotless-ar</key>
    <string>behD_otless-ar.glif</string>
    <key>behDotless-ar.fina</key>
    <string>behD_otless-ar.fina.glif</string>
    <key>behDotless-ar.init</key>
    <string>behD_otless-ar.init.glif</string>
    <key>behDotless-ar.medi</key>
    <string>behD_otless-ar.medi.glif</string>
    <key>bet-hb</key>
    <string>bet-hb.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma-ar</key>
    <string>comma-ar.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dad-ar</key>
    <string>dad-ar.glif</string>
    <key>dad-ar.fina</key>
    <string>dad-ar.fina.glif</string>
    <key>dad-ar.init</key>
    <string>dad-ar.init.glif</string>
    <key>dad-ar.medi</key>
    <string>dad-ar.medi.glif</string>
    <key>dal-ar</key>
    <string>dal-ar.glif</string>
    <key>dal-ar.fina</key>
    <string>dal-ar.fina.glif</string>
    <key>dalet-hb</key>
    <string>dalet-hb.glif</string>
    <key>damma-ar</key>
    <string>damma-ar.glif</string>
    <key>dammatan-ar</key>
    <string>dammatan-ar.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>decimalseparator-ar</key>
    <string>decimalseparator-ar.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotabove-ar</key>
    <string>dotabove-ar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelow-ar</key>
    <string>dotbelow-ar.glif</string>
    <key>dotcenter-ar</key>
    <string>dotcenter-ar.glif</string>
    <key>doublestroke-ar</key>
    <string>doublestroke-ar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-ar</key>
    <string>eight-ar.glif</string>
    <key>eightFarsi-ar</key>
    <string>eightF_arsi-ar.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fatha-ar</key>
    <string>fatha-ar.glif</string>
    <key>fathatan-ar</key>
    <string>fathatan-ar.glif</string>
    <key>feh-ar</key>
    <string>feh-ar.glif</string>
    <key>feh-ar.fina</key>
    <string>feh-ar.fina.glif</string>
    <key>feh-ar.init</key>
    <string>feh-ar.init.glif</string>
    <key>feh-ar.medi</key>
    <string>feh-ar.medi.glif</string>
    <key>fehDotless-ar</key>
    <string>fehD_otless-ar.glif</string>
    <key>fehDotless-ar.fina</key>
    <string>fehD_otless-ar.fina.glif</string>
    <key>fehDotless-ar.init</key>
    <string>fehD_otless-ar.init.glif</string>
    <key>fehDotless-ar.medi</key>
    <string>fehD_otless-ar.medi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-ar</key>
    <string>five-ar.glif</string>
    <key>fiveFarsi-ar</key>
    <string>fiveF_arsi-ar.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>fourFarsi-ar</key>
    <string>fourF_arsi-ar.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gaf-ar</key>
    <string>gaf-ar.glif</string>
    <key>gaf-ar.fina</key>
    <string>gaf-ar.fina.glif</string>
    <key>gaf-ar.init</key>
    <string>gaf-ar.init.glif</string>
    <key>gaf-ar.medi</key>
    <string>gaf-ar.medi.glif</string>
    <key>gafsarkashabove-ar</key>
    <string>gafsarkashabove-ar.glif</string>
    <key>gafsarkashcenter-ar</key>
    <string>gafsarkashcenter-ar.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghain-ar</key>
    <string>ghain-ar.glif</string>
    <key>ghain-ar.fina</key>
    <string>ghain-ar.fina.glif</string>
    <key>ghain-ar.init</key>
    <string>ghain-ar.init.glif</string>
    <key>ghain-ar.medi</key>
    <string>ghain-ar.medi.glif</string>
    <key>gimel-hb</key>
    <string>gimel-hb.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hah-ar</key>
    <string>hah-ar.glif</string>
    <key>hah-ar.fina</key>
    <string>hah-ar.fina.glif</string>
    <key>hah-ar.init</key>
    <string>hah-ar.init.glif</string>
    <key>hah-ar.medi</key>
    <string>hah-ar.medi.glif</string>
    <key>hamza-ar</key>
    <string>hamza-ar.glif</string>
    <key>hamzaabove-ar</key>
    <string>hamzaabove-ar.glif</string>
    <key>hamzaaboveDamma-ar</key>
    <string>hamzaaboveD_amma-ar.glif</string>
    <key>hamzaaboveDammatan-ar</key>
    <string>hamzaaboveD_ammatan-ar.glif</string>
    <key>hamzaaboveFatha-ar</key>
    <string>hamzaaboveF_atha-ar.glif</string>
    <key>hamzaaboveFathatan-ar</key>
    <string>hamzaaboveF_athatan-ar.glif</string>
    <key>hamzaaboveSukun-ar</key>
    <string>hamzaaboveS_ukun-ar.glif</string>
    <key>hamzabelow-ar</key>
    <string>hamzabelow-ar.glif</string>
    <key>hamzabelowKasra-ar</key>
    <string>hamzabelowK_asra-ar.glif</string>
    <key>hamzabelowKasratan-ar</key>
    <string>hamzabelowK_asratan-ar.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>he-hb</key>
    <string>he-hb.glif</string>
    <key>heh-ar</key>
    <string>heh-ar.glif</string>
    <key>heh-ar.fina</key>
    <string>heh-ar.fina.glif</string>
    <key>heh-ar.init</key>
    <string>heh-ar.init.glif</string>
    <key>heh-ar.medi</key>
    <string>heh-ar.medi.glif</string>
    <key>het-hb</key>
    <string>het-hb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>jeem-ar</key>
    <string>jeem-ar.glif</string>
    <key>jeem-ar.fina</key>
    <string>jeem-ar.fina.glif</string>
    <key>jeem-ar.init</key>
    <string>jeem-ar.init.glif</string>
    <key>jeem-ar.medi</key>
    <string>jeem-ar.medi.glif</string>
    <key>jeh-ar</key>
    <string>jeh-ar.glif</string>
    <key>jeh-ar.fina</key>
    <string>jeh-ar.fina.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kaf-ar</key>
    <string>kaf-ar.glif</string>
    <key>kaf-ar.fina</key>
    <string>kaf-ar.fina.glif</string>
    <key>kaf-ar.init</key>
    <string>kaf-ar.init.glif</string>
    <key>kaf-ar.medi</key>
    <string>kaf-ar.medi.glif</string>
    <key>kaf-hb</key>
    <string>kaf-hb.glif</string>
    <key>kafFinal-hb</key>
    <string>kafF_inal-hb.glif</string>
    <key>kashida-ar</key>
    <string>kashida-ar.glif</string>
    <key>kasra-ar</key>
    <string>kasra-ar.glif</string>
    <key>kasratan-ar</key>
    <string>kasratan-ar.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>keheh-ar</key>
    <string>keheh-ar.glif</string>
    <key>keheh-ar.fina</key>
    <string>keheh-ar.fina.glif</string>
    <key>keheh-ar.init</key>
    <string>keheh-ar.init.glif</string>
    <key>keheh-ar.medi</key>
    <string>keheh-ar.medi.glif</string>
    <key>khah-ar</key>
    <string>khah-ar.glif</string>
    <key>khah-ar.fina</key>
    <string>khah-ar.fina.glif</string>
    <key>khah-ar.init</key>
    <string>khah-ar.init.glif</string>
    <key>khah-ar.medi</key>
    <string>khah-ar.medi.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lam-ar</key>
    <string>lam-ar.glif</string>
    <key>lam-ar.fina</key>
    <string>lam-ar.fina.glif</string>
    <key>lam-ar.init</key>
    <string>lam-ar.init.glif</string>
    <key>lam-ar.medi</key>
    <string>lam-ar.medi.glif</string>
    <key>lam_alef-ar</key>
    <string>lam_alef-ar.glif</string>
    <key>lam_alef-ar.fina</key>
    <string>lam_alef-ar.fina.glif</string>
    <key>lam_alefHamzaabove-ar</key>
    <string>lam_alefH_amzaabove-ar.glif</string>
    <key>lam_alefHamzaabove-ar.fina</key>
    <string>lam_alefH_amzaabove-ar.fina.glif</string>
    <key>lam_alefHamzabelow-ar</key>
    <string>lam_alefH_amzabelow-ar.glif</string>
    <key>lam_alefHamzabelow-ar.fina</key>
    <string>lam_alefH_amzabelow-ar.fina.glif</string>
    <key>lam_alefMadda-ar</key>
    <string>lam_alefM_adda-ar.glif</string>
    <key>lam_alefMadda-ar.fina</key>
    <string>lam_alefM_adda-ar.fina.glif</string>
    <key>lam_alefWasla-ar</key>
    <string>lam_alefW_asla-ar.glif</string>
    <key>lam_alefWasla-ar.fina</key>
    <string>lam_alefW_asla-ar.fina.glif</string>
    <key>lamed-hb</key>
    <string>lamed-hb.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>madda-ar</key>
    <string>madda-ar.glif</string>
    <key>meem-ar</key>
    <string>meem-ar.glif</string>
    <key>meem-ar.fina</key>
    <string>meem-ar.fina.glif</string>
    <key>meem-ar.init</key>
    <string>meem-ar.init.glif</string>
    <key>meem-ar.medi</key>
    <string>meem-ar.medi.glif</string>
    <key>mem-hb</key>
    <string>mem-hb.glif</string>
    <key>memFinal-hb</key>
    <string>memF_inal-hb.glif</string>
    <key>miniKeheh-ar</key>
    <string>miniK_eheh-ar.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>newGlyph</key>
    <string>newG_lyph.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>nineFarsi-ar</key>
    <string>nineF_arsi-ar.glif</string>
    <key>noon-ar</key>
    <string>noon-ar.glif</string>
    <key>noon-ar.fina</key>
    <string>noon-ar.fina.glif</string>
    <key>noon-ar.init</key>
    <string>noon-ar.init.glif</string>
    <key>noon-ar.medi</key>
    <string>noon-ar.medi.glif</string>
    <key>noonghunna-ar</key>
    <string>noonghunna-ar.glif</string>
    <key>noonghunna-ar.fina</key>
    <string>noonghunna-ar.fina.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nun-hb</key>
    <string>nun-hb.glif</string>
    <key>nunFinal-hb</key>
    <string>nunF_inal-hb.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-ar</key>
    <string>one-ar.glif</string>
    <key>oneFarsi-ar</key>
    <string>oneF_arsi-ar.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft-ar</key>
    <string>parenleft-ar.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright-ar</key>
    <string>parenright-ar.glif</string>
    <key>pe-hb</key>
    <string>pe-hb.glif</string>
    <key>peFinal-hb</key>
    <string>peF_inal-hb.glif</string>
    <key>peh-ar</key>
    <string>peh-ar.glif</string>
    <key>peh-ar.fina</key>
    <string>peh-ar.fina.glif</string>
    <key>peh-ar.init</key>
    <string>peh-ar.init.glif</string>
    <key>peh-ar.medi</key>
    <string>peh-ar.medi.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent-ar</key>
    <string>percent-ar.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>qaf-ar</key>
    <string>qaf-ar.glif</string>
    <key>qaf-ar.fina</key>
    <string>qaf-ar.fina.glif</string>
    <key>qaf-ar.init</key>
    <string>qaf-ar.init.glif</string>
    <key>qaf-ar.medi</key>
    <string>qaf-ar.medi.glif</string>
    <key>qafDotless-ar</key>
    <string>qafD_otless-ar.glif</string>
    <key>qafDotless-ar.fina</key>
    <string>qafD_otless-ar.fina.glif</string>
    <key>qof-hb</key>
    <string>qof-hb.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reh-ar</key>
    <string>reh-ar.glif</string>
    <key>reh-ar.fina</key>
    <string>reh-ar.fina.glif</string>
    <key>resh-hb</key>
    <string>resh-hb.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>sad-ar</key>
    <string>sad-ar.glif</string>
    <key>sad-ar.fina</key>
    <string>sad-ar.fina.glif</string>
    <key>sad-ar.init</key>
    <string>sad-ar.init.glif</string>
    <key>sad-ar.medi</key>
    <string>sad-ar.medi.glif</string>
    <key>samekh-hb</key>
    <string>samekh-hb.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seen-ar</key>
    <string>seen-ar.glif</string>
    <key>seen-ar.fina</key>
    <string>seen-ar.fina.glif</string>
    <key>seen-ar.init</key>
    <string>seen-ar.init.glif</string>
    <key>seen-ar.medi</key>
    <string>seen-ar.medi.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon-ar</key>
    <string>semicolon-ar.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>sevenFarsi-ar</key>
    <string>sevenF_arsi-ar.glif</string>
    <key>shadda-ar</key>
    <string>shadda-ar.glif</string>
    <key>shaddaAlefabove-ar</key>
    <string>shaddaA_lefabove-ar.glif</string>
    <key>shaddaDamma-ar</key>
    <string>shaddaD_amma-ar.glif</string>
    <key>shaddaDammatan-ar</key>
    <string>shaddaD_ammatan-ar.glif</string>
    <key>shaddaFatha-ar</key>
    <string>shaddaF_atha-ar.glif</string>
    <key>shaddaFathatan-ar</key>
    <string>shaddaF_athatan-ar.glif</string>
    <key>shaddaKasra-ar</key>
    <string>shaddaK_asra-ar.glif</string>
    <key>shaddaKasratan-ar</key>
    <string>shaddaK_asratan-ar.glif</string>
    <key>sheen-ar</key>
    <string>sheen-ar.glif</string>
    <key>sheen-ar.fina</key>
    <string>sheen-ar.fina.glif</string>
    <key>sheen-ar.init</key>
    <string>sheen-ar.init.glif</string>
    <key>sheen-ar.medi</key>
    <string>sheen-ar.medi.glif</string>
    <key>shin-hb</key>
    <string>shin-hb.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>sixFarsi-ar</key>
    <string>sixF_arsi-ar.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sukun-ar</key>
    <string>sukun-ar.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tah-ar</key>
    <string>tah-ar.glif</string>
    <key>tah-ar.fina</key>
    <string>tah-ar.fina.glif</string>
    <key>tah-ar.init</key>
    <string>tah-ar.init.glif</string>
    <key>tah-ar.medi</key>
    <string>tah-ar.medi.glif</string>
    <key>tav-hb</key>
    <string>tav-hb.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcheh-ar</key>
    <string>tcheh-ar.glif</string>
    <key>tcheh-ar.fina</key>
    <string>tcheh-ar.fina.glif</string>
    <key>tcheh-ar.init</key>
    <string>tcheh-ar.init.glif</string>
    <key>tcheh-ar.medi</key>
    <string>tcheh-ar.medi.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>teh-ar</key>
    <string>teh-ar.glif</string>
    <key>teh-ar.fina</key>
    <string>teh-ar.fina.glif</string>
    <key>teh-ar.init</key>
    <string>teh-ar.init.glif</string>
    <key>teh-ar.medi</key>
    <string>teh-ar.medi.glif</string>
    <key>tehMarbuta-ar</key>
    <string>tehM_arbuta-ar.glif</string>
    <key>tehMarbuta-ar.fina</key>
    <string>tehM_arbuta-ar.fina.glif</string>
    <key>tet-hb</key>
    <string>tet-hb.glif</string>
    <key>thal-ar</key>
    <string>thal-ar.glif</string>
    <key>thal-ar.fina</key>
    <string>thal-ar.fina.glif</string>
    <key>theh-ar</key>
    <string>theh-ar.glif</string>
    <key>theh-ar.fina</key>
    <string>theh-ar.fina.glif</string>
    <key>theh-ar.init</key>
    <string>theh-ar.init.glif</string>
    <key>theh-ar.medi</key>
    <string>theh-ar.medi.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thousandseparator-ar</key>
    <string>thousandseparator-ar.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-ar</key>
    <string>three-ar.glif</string>
    <key>threeFarsi-ar</key>
    <string>threeF_arsi-ar.glif</string>
    <key>threedotsdownabove-ar</key>
    <string>threedotsdownabove-ar.glif</string>
    <key>threedotsdownbelow-ar</key>
    <string>threedotsdownbelow-ar.glif</string>
    <key>threedotsdowncenter-ar</key>
    <string>threedotsdowncenter-ar.glif</string>
    <key>threedotsupabove-ar</key>
    <string>threedotsupabove-ar.glif</string>
    <key>threedotsupbelow-ar</key>
    <string>threedotsupbelow-ar.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tsadi-hb</key>
    <string>tsadi-hb.glif</string>
    <key>tsadiFinal-hb</key>
    <string>tsadiF_inal-hb.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>twoFarsi-ar</key>
    <string>twoF_arsi-ar.glif</string>
    <key>twodotshorizontalabove-ar</key>
    <string>twodotshorizontalabove-ar.glif</string>
    <key>twodotshorizontalbelow-ar</key>
    <string>twodotshorizontalbelow-ar.glif</string>
    <key>twodotsverticalabove-ar</key>
    <string>twodotsverticalabove-ar.glif</string>
    <key>twodotsverticalbelow-ar</key>
    <string>twodotsverticalbelow-ar.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>vav-hb</key>
    <string>vav-hb.glif</string>
    <key>veh-ar</key>
    <string>veh-ar.glif</string>
    <key>veh-ar.fina</key>
    <string>veh-ar.fina.glif</string>
    <key>veh-ar.init</key>
    <string>veh-ar.init.glif</string>
    <key>veh-ar.medi</key>
    <string>veh-ar.medi.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wasla-ar</key>
    <string>wasla-ar.glif</string>
    <key>waw-ar</key>
    <string>waw-ar.glif</string>
    <key>waw-ar.fina</key>
    <string>waw-ar.fina.glif</string>
    <key>wawHamzaabove-ar</key>
    <string>wawH_amzaabove-ar.glif</string>
    <key>wawHamzaabove-ar.fina</key>
    <string>wawH_amzaabove-ar.fina.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yeh-ar</key>
    <string>yeh-ar.glif</string>
    <key>yeh-ar.fina</key>
    <string>yeh-ar.fina.glif</string>
    <key>yeh-ar.init</key>
    <string>yeh-ar.init.glif</string>
    <key>yeh-ar.medi</key>
    <string>yeh-ar.medi.glif</string>
    <key>yehFarsi-ar</key>
    <string>yehF_arsi-ar.glif</string>
    <key>yehFarsi-ar.fina</key>
    <string>yehF_arsi-ar.fina.glif</string>
    <key>yehFarsi-ar.init</key>
    <string>yehF_arsi-ar.init.glif</string>
    <key>yehFarsi-ar.medi</key>
    <string>yehF_arsi-ar.medi.glif</string>
    <key>yehHamzaabove-ar</key>
    <string>yehH_amzaabove-ar.glif</string>
    <key>yehHamzaabove-ar.fina</key>
    <string>yehH_amzaabove-ar.fina.glif</string>
    <key>yehHamzaabove-ar.init</key>
    <string>yehH_amzaabove-ar.init.glif</string>
    <key>yehHamzaabove-ar.medi</key>
    <string>yehH_amzaabove-ar.medi.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yod-hb</key>
    <string>yod-hb.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zah-ar</key>
    <string>zah-ar.glif</string>
    <key>zah-ar.fina</key>
    <string>zah-ar.fina.glif</string>
    <key>zah-ar.init</key>
    <string>zah-ar.init.glif</string>
    <key>zah-ar.medi</key>
    <string>zah-ar.medi.glif</string>
    <key>zain-ar</key>
    <string>zain-ar.glif</string>
    <key>zain-ar.fina</key>
    <string>zain-ar.fina.glif</string>
    <key>zayin-hb</key>
    <string>zayin-hb.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero-ar</key>
    <string>zero-ar.glif</string>
    <key>zeroFarsi-ar</key>
    <string>zeroF_arsi-ar.glif</string>
  </dict>
</plist>
